{% extends "student/baseuser.html" %}

{% block content %}
    <div class="w3-container">
        <div class="col-md">
            {% for subject in subject_list %}
            <div class="w3-card-4 post col-md-3" align="center" style="margin:20px;">
                <header class="w3-container w3-blue">
                    <a href="{% url 'student:all_notes_in_subject' Semester_name subject %} " style="text-decoration:none;"><h3>{{subject}}</h3></a>
                </header>
                <div class="w3-container">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <footer class="w3-container w3-blue">
                  <h5>Credit</h5>
                </footer>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}