{% extends "home/unknownbase.html" %}
{% load staticfiles %}
{% block body %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

  <p><a href="#">Return to home</a></p>
    {% for doc in Docs %}
        <video width="400" controls>
          <source src="{{ doc.document.url }}" type="video/mp4">
          <source src="{{ doc.document.url }}" type="video/ogg">
          Your browser does not support HTML5 video.
        </video>
        {{doc}}<br>
    {% endfor %}
{% endblock %}