{% extends "home/unknownbase.html" %}
{% load staticfiles %}
{% load auth_extras %}
{% block style%}
<title>Matrix</title>
<style>
.hide1:hover{
    text-decoration: underline;
    cursor:pointer;
}
.emoji:hover ,.emoji-btn:hover,.tosmiley:hover ,.toanimal:hover ,.tofood:hover ,.togame:hover ,.toplace:hover ,.toobject:hover ,.tosymbol:hover ,.toflag:hover{
    cursor:pointer;
}

</style>

<!--
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
-->
{%endblock%}
{% block body %}
<div>
    <!-- CTA -->
      <section id="cta1" class="wrapper">
        <div class="inner">
            <a href="{% url 'alumni:post_list' %}" style="text-decoration:none"><h2>AlumBook</h2></a>
            <p>Share yourself.</p>
        </div>
      </section>
      <br> <br>

      <div align = "right">
      {% if user.is_authenticated %}

        {% if user.is_superuser %}
        <a href="{% url 'alumni:post_approval' %}" class = "btn-round" style="text-decoration: none; background-color: #008CBA;"><span style="color: black;"><i class="icon fa-bell-o"></i> &nbsp;View {{approvalpending}} approval(s) pending</span></a>
        {% endif %}
        {% if request.user|has_group:"Alumni" %}
        <a href="{% url 'alumni:video_upload' %}" class = "btn-round" style="text-decoration: none; background-color: #CC6600;"><span style="color: black;"><i class="icon fa-upload"></i> &nbsp;Upload Video</span></a>
        {% endif %}
          <a href="{% url 'alumni:post_new' %}" class = "btn-round" style="text-decoration: none; background-color: #4CAF50;"><span style="color: black;"><i class="icon fa-plus"></i> &nbsp;Add Post</span></a>
        <a href="{% url 'alumni:post_draft_list' %}" class = "btn-round" style="text-decoration: none; background-color: #f44336;"><span style="color: black;"><i class="icon fa-edit"></i> &nbsp;View Drafts</span></a>
        <br><br><br>
     {% endif %}
    </div>

 </div>
 <div class="content container">
    <div class="row">
        <div class="col-md-8">
        {% block content %}
        {% endblock %}
        </div>
    </div>
 </div>
{% endblock %}
{% block scriptunknown %}
{% block scriptbase %}{% endblock %}
{% endblock %}

