<div class="dropdown keep-inside-clicks-open">
    <!--<p style="font-size:200%;vertical-align: middle;" class=" dropdown-toggle"  data-toggle="dropdown">🤔</p>-->
    <!--<button style="padding:0;border-radius:50%;" type="button" data-toggle="dropdown"><span style="font-size:300%;">☺️</span>-->
    <!--</button>-->
    <p data-toggle="dropdown" style="margin-top:0px;">
        <span class="emoji-btn" style="font-size:400%;">☺️</span>
    </p>
    <ul class="dropdown-menu dropdown-menu-right" style="width:300px;padding:5px;">

        <div class="icons" style="height:250px;overflow-y:scroll">
            <div class="smiley">
                Smileys & people<br>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤠</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤡</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤥</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤓</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">😬</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">😤</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🙄</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤣</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🙂</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤗</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤔</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤐</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤤</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🙃</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤑</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🙁</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤒</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤕</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤢</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤧</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">👿</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">👹</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">👺</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💀</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">👻</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">👽</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤖</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💩</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">👼</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤰</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🙇‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💁‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🙅‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🙆‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🙋‍ </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤦‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤷‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🙎‍ </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🙍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💇‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💆‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💆‍ </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💅 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤳</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💃</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🕺</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">👯‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🕴</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚶‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏃‍ </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">👐</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🙌</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">👏</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤝</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">👍 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">👎</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">👊</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">✊</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤛</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤜</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤞</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤘</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">👌</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">👈 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">👉</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">👆</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">👇</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">✋</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤚</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🖖</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">👋</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤙</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💪</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🖕</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🙏</span>
            </div>
            <div class="animal">
                Animals & nature<br>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐶</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐱</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐭</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐹</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐰</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🦊</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐻</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐼</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐨</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐯</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🦁</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐮</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐷</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐽</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐸 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐵</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🙈 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🙉</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🙊</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐒</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐔</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐧</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐦</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐤</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐣</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🐥</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🦆</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🦅</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🦉</span>
            </div>
            <div class="food">
                Food & drink<br>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍏</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍎</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍐</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍊</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍋</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍌</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍉</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍇</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍓</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍈</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍒</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍑 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥝</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍅</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍆</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥑</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥒</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🌶</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🌽</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥕</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥔</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍠</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥐</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍞</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥖</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🧀</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥚</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍳</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥞</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥓</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍗</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍖</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🌭</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍔 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍟 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍕 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥙</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;"> 🌮</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🌯</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥗</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥘</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍝</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍜</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍲</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍛</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍣</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍱</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍤 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍙</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍚 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍘</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;"></span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍥 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍢</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍡</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍧</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍨</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍦</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍰</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎂</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍮</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍭</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍬 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍫</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍿</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍩</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍪</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🌰</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥜</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍯</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥛</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍼 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">☕️</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍵</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍶</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍺</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍻</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥂</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍷</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥃</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍸</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍹</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍾 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥄 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🍴 </span>
            </div>
            <div class="game">
                Activities<br>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">⚽️</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏀</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏈</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">⚾️</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎾</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏐</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏉</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎱</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏓</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏸</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥅</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏒 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏑</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏏</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">⛳️ </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏹</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎣</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥊</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥋</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎽</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">⛸</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎿</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">⛷</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏂</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏋️‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎭</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎨</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎬 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎤</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎧</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎼</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎹</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥁</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎷 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎺</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎸</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎻</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎲</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎯</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎳</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎮</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎰 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤼‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤸‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">⛹️‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤾‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏌️‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏇</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏄‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏊‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🤽‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚣‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚵‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚴‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏆</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥇</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥈</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🥉</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏅</span>
            </div>
            <div class="place">
                Travel & place<br>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚗</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚕</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚙</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚌</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚐</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚚</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚛</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚜</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🛴</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚲</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🛵</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚀</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚁</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🛶</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">⛵️</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚔</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚘</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚖</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🗿</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🗽</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🗼</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏰</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏯</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎡</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎢</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎠</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">⛲️</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🌋</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🗻</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">⛺️</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏠</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏡</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏭</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏢</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏬</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏣</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏤</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏥</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏦</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏨</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏪</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏫</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏩</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💒</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏛 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">⛪️</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🕌</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🕍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🕋</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🗾</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎑</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🌅</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🌄</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🌠</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎇</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎆</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🌇</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🌆</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏙</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🌃</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🌌</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🌉</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🌁</span>
            </div>
            <div class="object">
                Objects<br>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🛌</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🖼</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🛒</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎁</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎈</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎏</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎀</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎊</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎉</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎎</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏮</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🎐</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">📚</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">📖</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">📝</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🔍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">📆</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">📅</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">📇</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚬 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏺</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🔮</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">📿</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💈</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🔭</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🔬</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💊</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💉</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🛀</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💸</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💰</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">⌛️</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">⏳</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🔫 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💣</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🔪</span>
            </div>
            <div class="symbol">
                Symbols<br>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💔</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💕</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💞 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💓</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💗</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💖</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💘</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💝</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💟</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🕎</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">☯️</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🌀</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💤</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💯</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">💢</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🔔</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">📣</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">📢</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">📴</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">📳</span>
            </div>
            <div class="flag">
                Flags<br>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏳️</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏴</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏁</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🚩</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🏳️‍</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🌈</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇮🇳</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇦🇫</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇩🇿</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇦🇽</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇦🇸</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇦🇱</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇦🇩</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇦🇴</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇦🇮 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇦🇶 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇦🇬</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇦🇷</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇦🇲 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇦🇼</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇦🇺</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇮🇴</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇧🇷 </span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇧🇼</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇧🇦</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇧🇴</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇧🇹</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇧🇲</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇧🇯</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇧🇿</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇧🇪</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇧🇾</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇧🇧</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇧🇩</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇧🇭</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇧🇸</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇦🇿</span>
                <span class="emoji" style="display:inline-block;font-size: 180%;margin-left:2px;margin-right:2px;">🇦🇹</span>
            </div>
        </div>
        <ul style="list-style-type: none;padding:0;">
            <li class="tosmiley" style="display:inline-block;font-size:180%;">☺️</li>
            <li class="toanimal"style="display:inline-block;font-size:180%;">🐾</li>
            <li class="tofood" style="display:inline-block;font-size:180%;">🍎</li>
            <li class="togame"style="display:inline-block;font-size:180%;">⚽</li>
            <li class="toplace"style="display:inline-block;font-size:180%;">🏘️</li>
            <li class="toobject"style="display:inline-block;font-size:180%;">🎉</li>
            <li class="tosymbol"style="display:inline-block;font-size:180%;">💔</li>
            <li class="toflag"style="display:inline-block;font-size:180%;">🏁</li>
        </ul>

    </ul>

</div>