{% extends "home/unknownbase.html" %}

{% block body %}
<br><br><br><br>
    <div class="container">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 w3-card-8" style="padding:20px;">
            {% if validlink %}
                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label>{{ form.new_password1 }}
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label>{{ form.new_password2 }}
                    <br>
                    <div align="center">
                       <input type="submit" value="Change my password" class="btn btn-round "/>
                    </div>
                </form>
            {% else %}
                <p style="font-size:35px;" align="center">Password reset unsuccessful</p>
                <p align="center">The password reset link was invalid, <br />
                possibly because it has already been used. <br />
                Please request a new password reset.</p>
            {% endif %}
        </div>

    </div>
    <br><br>
{% endblock %}

