{% extends "home/unknownbase.html" %}
{% load static %}
{% block body %}
     <br><br><br>
    <!--{% for us in alumni %}
        {{ us.name }}<br>
        {{ us.roll_no}}<br>
        {{ us.fb_link }}<br>
        {{ us.ln_link }}<br>
        {{ us.curr_work }}<br>
        {{ us.prev_work }}<br>
        <img src="{{ us.profile_img.url }}" width="150px" height="150px" />
        <a class="btn btn-default" href="{% url 'home:profile_edit_manual' %}"><span class="glyphicon glyphicon-pencil"></span></a>
    {% endfor %} -->
    {% for us in alumni %}
    <!-- CTA -->
    <div class="container ">
        <a href="{% url 'home:profile_edit_manual' %}" class = "btn-round" style="margin-right:5px;text-decoration: none; background-color: gray;"><span style="color: black;"><i class="icon fa-edit"></i> &nbsp;Edit Profile </span></a>
        <a href="{% url 'password_reset' %}" class = "btn-round" style="margin-left:5px;text-decoration: none; background-color: gray;"><span style="color: black;"><i class="icon fa-key"></i> Change Password </span></a>
        <br><br>
        <div class="row">
            <div class="col-md-4 w3-dark-grey w3-card-8" align="center" style="border:solid;padding:15px;">
                <div class="photo-container">
                    <img width="200px" height="200px" class="mx-auto rounded-circle img-raised" src="{{ us.profile_img.url }}" alt="Profile Image">
                </div>
                <br>
                <h3 class="title" style="color:white;">{{ us.name }}</h3>
                <p class="category" style="color:white;">{{ us.curr_work }}</p>
                <div style = "text-align: center;" class="content-center">
                    <h2 style="color:white;">{{no_of_posts_by_user}}</h2>
                    <p style="color:white;">Post(s)</p>
                </div>
                <div class="social-line">
                    <a href="{{ us.fb_link }}" style = "color: #3b5998;" class="btn btn-neutral btn-icon btn-round" target="blank">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="{{ us.ln_link }}" style = "color: #3b5998;" class="btn btn-neutral btn-icon btn-lg btn-round" target="blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to={{us.email_link}}" style = "color: red;" class="btn btn-neutral btn-icon btn-round" target="blank">
                        <i class="fa fa-envelope"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-7">
                <div align="center">
                    <h2>My Posts</h2>
                </div>
                <div style="overflow: scroll;">
                    {% for post in my_posts %}
                        <div class="w3-panel w3-pale-blue w3-leftbar  w3-border-blue">
                            <h4 style = "margin-bottom: 8px;" ><a href="{% url 'alumni:post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
                            {{post.text|slice:":30"}}....
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <!--<section id="cta1" class="wrapper">-->
        <!--<div class="container">-->
            <!--<div class="content-center">-->
                <!--<div class="photo-container">-->
                    <!--<img width="200px" height="200px" class="mx-auto rounded-circle img-raised" src="{{ us.profile_img.url }}" alt="Profile Image">-->
                <!--</div>-->
                <!--<h3 class="title">{{ us.name }}</h3>-->
                <!--<p class="category">{{ us.curr_work }}</p>-->
                <!--<div style = "text-align: center;" class="content-center">-->
                    <!--<div class="social-description">-->
                        <!--<h2>{{no_of_posts_by_user}}</h2>-->
                        <!--<p>Posts</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="social-line">-->
                <!--<a href="{{ us.fb_link }}" style = "color: #3b5998;" class="btn btn-neutral btn-icon btn-round" target="blank">-->
                    <!--<i class="fa fa-facebook-square"></i>-->
                <!--</a>-->
                <!--<a href="{{ us.ln_link }}" style = "color: #3b5998;" class="btn btn-neutral btn-icon btn-lg btn-round" target="blank">-->
                    <!--<i class="fa fa-linkedin"></i>-->
                <!--</a>-->
                <!--<a href="#" style = "color: red;" class="btn btn-neutral btn-icon btn-round">-->
                    <!--<i class="fa fa-envelope"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->

        {% endfor %}
{% endblock %}